body
{
    background-color: black;
    font-family: 'Istok Web', sans-serif;
}


h1
{
    color: white;
    font-size: 72px;
    padding-left: 25px;
    padding-top: 50px;
}

h2
{
    display: flex;
    color: white;
    font-size: 60px;
    padding-left: 400px;
    text-decoration: underline;
}

/*Barre de navigation ci-dessous*/
header
{
    color: white;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: white;

    padding-bottom: 20px;
    padding-top: 20px;
    
}


.Bouton
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
    
    
}

a:visited
{
    color: white;
    text-decoration: solid;
}

a:hover
{
    color:rgb(0, 0, 0);
    text-decoration:underline;
}

a
{
    color: white;
    text-decoration: solid;
}

/*Barre de navigation ci-dessus*/


.headerheader
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pointe-doigt
{
    padding-left: 150px;
    height: 300px;
    overflow: hidden;
}

.texte-image
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.texte
{
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 40px;
}

p
{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    line-height: 63px;
}

video
{
    padding-left: 350px;
}