body
{
    background-image:url(image2/I3.webp);
    background-size:cover;
    font-family: 'Istok Web', sans-serif;
    color: white; 
}

h1
{
    text-decoration: underline;
    text-align: center;
    font-size: 72px;
}

h2
{
    color: white;
    font-size: 60px;
    text-align: center;
}

form
{
    font-size: 34px;
    font-family: 'Istok Web', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width:fit-content;
}  

.Contenu{
    top: 200px;
    position: relative;
}

input
{
    padding: 5px;

}

.formulaires
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

label
{
    padding-top: 60px;

}



/*Barre de navigation ci-dessous*/
header
{
    background-color: black;
    color: white;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid;

    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;

    padding-bottom: 20px;
    padding-top: 20px;
 
}

.Bouton
{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;    
    
}

a:visited
{
    color: white;
    text-decoration: solid;  
    
}

a:hover
{
    color:rgb(0, 0, 0);
    text-decoration:underline;

}

.element
{
    color: white;
    text-decoration: solid;
    position: fixed;
    z-index: 2;

}

/*Barre de navigation ci-dessus*/