

/*-------Barre de navigation------*/

header
{
    background-color: black;
    color: white;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid;

    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;

    padding-bottom: 20px;
    padding-top: 20px;
 
}

.Bouton
{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;    
    
}

.Films{
    border: 1px;
    border: solid;
    border-color: white;
    background-color: rgb(71, 71, 71)
}

a:visited
{
    color: white;
    text-decoration: solid;  
    
}

a:hover
{
    color:rgb(0, 0, 0);
    text-decoration:underline;

}

.element
{
    color: white;
    text-decoration: solid;
    position: fixed;
    z-index: 2;

}

/*-----------Fond, Affiche-------------*/



.affiche {
    top: 0;
    left: 0;
    position: absolute;
}

.fond {
    top: 0;    
    width: 500px;
    height: 479px;
    left: 321px;
    position: absolute;
    background-color: black;
    border-color: white;
    border: 6px, solid;
}


/*--------------Body-------------*/


.Contenu{
    top: 200px;
    left: 200px;
    position: fixed;
}

body{
    background-color: rgb(65, 65, 65);
    font-family: 'Istok Web', sans-serif;
    color: white;
}
 
/*-------------Texte-------------*/

.titre {
    top:13px;
    left: 433px;
    position: absolute;
    width: 319px;
} 

h1{
    font-size: 40px;
    font-weight: lighter;
    color: white;  
}


  
.synopsis {
    top: 160px;
    left: 410px;
    width: 360px;
    position: absolute;

    font-size: 18px;
    color: white;
}


/*-----------tableau-------------*/


table{
    top: 280px;
    left: 580px;
    width: 420px;
    height: 90px;
    position: fixed;
}


/*     th     */

th{
    top: 20px;
    width: 110px;
    height: 63px;
    position: absolute;

    font-size: 14px;
    color: #ffffffa3;    
}

  
.Duree {
    position: absolute;
    left: 20px;
    width: 110px;
}
  
.Date {
    position: absolute;
    left: 160px;
    width: 110px;
}
   
.Genre {
    position: absolute;
    left: 294px;
    width: 110px;
}

 

/*     td     */



td {
    height: 46px;
    width: 420px;
    position: fixed;
    text-align: center;
}

.duree{
    width: 150px;
    position: relative;
}

.date {
    left: 160px;
    position: absolute;
    width: 110px;
}
  
  
.genre {
    left: 295px;
    position: absolute;
}
  
  

/*-------------son et Bade annonce-----------*/
  
  
iframe{
    top: 500px;
    left: 100px;
    position: absolute;
    border: none;
}