/*Barre de navigation ci-dessous*/
header
{
    background-color: black;
    color: white;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid;

    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;

    padding-bottom: 20px;
    padding-top: 20px;
 
}

.Bouton
{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;    
    
}

a:visited
{
    color: white;
    text-decoration: solid;  
    
}

a:hover
{
    color:rgb(0, 0, 0);
    text-decoration:underline;

}

.element
{
    color: white;
    text-decoration: solid;
    position: fixed;
    z-index: 2;

}

/*Barre de navigation ci-dessus*/


body{
    font-family: 'Istok Web', sans-serif;
    background-color: black;
    color: white;
}
img{
    height: 350px;
    width: 250px
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 200px;
    position:absolute;
}

.affiche1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche7{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche8{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche9{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche10{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche11{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche12{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche13{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche14{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche15{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche16{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche17{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche18{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche19{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche20{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}