body{
    font-family: 'Istok Web', sans-serif;
    background-color: black;
    color: white;
}
img{
 height: 350px;
 width: 250px
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.affiche1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche7{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche8{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche9{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche10{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche11{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche12{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche13{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche14{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche15{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche16{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche17{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche18{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche19{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.affiche20{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}